ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background)
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: var(--background-hover);
  transition: 0.3s;
}
